fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
pydantic[email]
python-dotenv
cloudinary
twilio
websockets
redis
celery
pytest
pytest-asyncio
httpx